<p><u>Description:</u>&nbsp;<i>{{entree.designation}}</i></p>
<p><u>Date d'entrée en garage:</u>&nbsp;<b>{{entree.dateEntree | date:'longDate'}}</b></p>
<p *ngIf="entree.dateSortie;">Date de sortie: <b>{{entree.dateSortie | date:'longDate'}}</b></p>
<h4>Détails</h4>
<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Prestation</th>
            <th>Achat</th>
            <th>Total</th>
            <th>Etat</th>
        </tr>
    </thead>
    <tbody *ngIf="entree.reparations.length > 0; else no_details">
        <tr app-reparation-tr *ngFor="let reparation of entree.reparations" [reparation]="reparation"></tr>
    </tbody>
    <ng-template #no_details>
        <p>Pas encore de détails pour cette réparation. Veuillez attendre la fin du diagnostique</p>        
    </ng-template>
</table>