#divChart {
  display: block;
  width: 700px;
  height: 400px;
}

#divChartJours {
  display: block;
  width: 700px;
  height: 360px;
}

header {
  text-align: center;
  font-size: 16px;
}

.choixMois {
  width: 35%;
}

