
<div class="grid">
  <div>
    <article>
      En moyen le temps de réparation est <strong>{{ tempsMoyenReparation }} jour(s)</strong> 
    </article>
  </div>
  <div>
    <article>Chiffre d'affaire moyenne par mois</article>
  </div>
  <div>
    <article>Chiffre d'affaire moyenne par jour</article>
  </div>
</div>
<div class="grid">
  <div class="CAmois">
    <article>
      <header>CA par mois {{ annee }}</header>
      <div id="divChart">
        <canvas id="myChartMois"></canvas>
      </div>
    </article>
  </div>
  <div class="CAjours">
    <article>
      <header>
        <label for="mois"
          >CA par jour
          <select id="mois" class="choixMois" (change)="onChange($event)">
            <option value="{{ month + 1 }}" >Choisissez le mois</option>
            <option value="1">Janvier {{ annee }}</option>
            <option value="2">Fevrier {{ annee }}</option>
            <option value="3">Mars {{ annee }}</option>
            <option value="4">Avril {{ annee }}</option>
            <option value="5">Mai {{ annee }}</option>
            <option value="6">Juin {{ annee }}</option>
            <option value="7">Juillet {{ annee }}</option>
            <option value="8">Aout {{ annee }}</option>
            <option value="9">Septembre {{ annee }}</option>
            <option value="10">Octobre {{ annee }}</option>
            <option value="11">Novembre {{ annee }}</option>
            <option value="12">Decembre {{ annee }}</option>
          </select>
        </label>
      </header>
      <div id="divChartJours">
        <canvas id="myChartJours"></canvas>
      </div>
    </article>
  </div>
</div>
