<article>
    <details *ngFor="let entree of entrees">
        <summary>
            <div class="reparation-summary">
                <hgroup>
                    <h4 style="margin-bottom: 0.3rem;">{{entree.designation}}</h4>
                    <h5>{{getPeriode(entree)}}</h5>
                </hgroup>
                <hgroup style="text-align: end;">
                    <h4 style="margin-bottom: 0.3rem;">Montant Total: <b>{{getTotal(entree)}}</b></h4>
                    <p>(Cliquer pour montrer les détails)</p>
                </hgroup>
            </div>
        </summary>
        <app-reparation-table [entree]="entree"></app-reparation-table>
    </details>
</article>