<h1>Liste des paiements</h1>

    <div class="article-head" style="padding: 0 2rem;">
          <input style="max-width: 40rem;" type="search" name="search" [(ngModel)]="search" (keyup)="applyFilter($event)" placeholder="Entrer une méthode de paiement ou un client...">  
          <div style="display: inline-flex; align-items: center;">
              <button (click)="fetchPaiements()" class="refresh-button">Actualiser</button> 
              <label for="showValid"><input type="checkbox" id="showValid" name="showValid" [(ngModel)]="showValid"
                role="switch" (change)="fetchPaiements()"> Montrer les paiements validés</label>   

          </div>
    </div>
<article *ngIf="isLoading; else loaded" aria-busy="true"></article>
<ng-template #loaded>
    <article>
        <div *ngIf="paiements; else no_paiements">
            
            <hr>
            <div *ngIf="paiements.length>0; else no_paiements">
                <table>
                    <thead>
                        <tr>
                            <th>Facture</th>
                            <th>Client</th>
                            <th>Montant</th>
                            <th>Méthode</th>
                            <th>Date Facture</th>
                            <th>Date Paiement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paiement of paiements; let i = index">
                            <td>{{paiement.idFacture}}</td>
                            <td>{{paiement.client.infos}}</td>
                            <td>{{paiement.montant | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                            <td>{{paiement.methode}}</td>
                            <td>{{paiement.dateFacture | date:'shortDate'}}</td>
                            <td>{{paiement.datePaiement | date:'shortDate'}}</td>
                            <td><span [id]="'badgebtn'+i" class="badge"
                                    [ngClass]="(paiement.valid)?'paid':'not-paid'">{{(paiement.paid)?"Valide":"Non
                                    valide"}}</span></td>
                            <td><button *ngIf="!paiement.valid"
                                [id]="'btn'+i"
                                    (click)="validerPaiement(paiement._id,'btn'+i)">Valider</button></td>
                        </tr>
                    </tbody>
                </table>
                <div style="width:100%;display: inline-flex; justify-content: center;">
                    <mat-paginator [length]="total" [pageSize]="itemCount" [pageSizeOptions]="[5, 10, 25, 100]"
                        [pageIndex]="page" (page)="changePage($event)" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
        <ng-template #no_paiements>
            <p>Pas de paiements à afficher</p>
        </ng-template>
    </article>
</ng-template>