<article [ngStyle]="{'max-width': '700px','margin':'2.5rem auto'}">
  <div>
    <hgroup>
      <h1>Inscription</h1>
      <h2>Veuillez-vous inscrire. Vous avez un compte? <a routerLink="/login">Identifiez-vous!</a></h2>
    </hgroup>
    <form [formGroup]="inscriptionForm" (ngSubmit)="registerUser()">
      <div class="grid">
        <div>
          <label for="name">Nom</label>
          <input type="name" id="name" formControlName="name" name="name" placeholder="Entrer votre nom"
            aria-label="Nom" required="">

          <label for="email">Adresse mail</label>
          <input type="email" id="email" formControlName="email" name="email" placeholder="Entrer adresse mail"
            aria-label="Adresse Email" required="">
        </div>
        <div>
          <label for="telephone">Telephone</label>
          <input type="phone" id="telephone" formControlName="telephone" name="telephone"
            placeholder="Numéro de téléphone" aria-label="Téléphone" required="">

          <label for="adresse">Adresse physique</label>
          <input id="adresse" formControlName="adresse" name="adresse" placeholder="Entrer adresse physique"
            aria-label="Adresse physique" required="">
        </div>

      </div>


      <label for="password">Mot de passe</label>
      <input type="password" formControlName="password" name="password" placeholder="******"
        aria-label="Mot de passe" autocomplete="current-password" required="">

      <button type="submit" class="contrast">S'inscrire</button>
    </form>
  </div>
</article>