<div class="auth-wrapper">
    <form
      class="form-signin"
      [formGroup]="inscriptionForm"
      (ngSubmit)="registerUser()"
    >
      <h3 class="h3 mb-3 font-weight-normal text-center">Veuillez vous inscrire</h3>
      <div class="form-group">
        <label>Nom</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Entrer nom"
          required
        />
      </div>
      <div class="form-group">
        <label>Adresse mail</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Entrer adresse mail"
          required
        />
      </div>
      <div class="form-group">
        <label>Mot de passe</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Mot de passe"
          required
        />
      </div>
      <button type="submit" class="btn btn-block btn-primary">S'inscrire</button>
    </form>
  </div>