.banderole {
    display: inline-flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem;
    margin: 0 0.5rem;
    width: 100%;
}

.sub-banderole {
    display: inline-flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem;

    width: 100%;
}

.total table tr td {
    text-align: end;
}

.banderole-footer {
    display: inline-flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem;
    margin: 0 0.5rem;
    width: 100%;
}

.infos-grid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-grow: 1;
}

.comments {
    text-align: left;
    max-width: 100rem;
    word-wrap: break-word;
    word-break: break-all;
    padding-left: 2rem;
    margin-left: 0.5rem;
}

.total {
    min-width: 25rem;
}

@media print {
    #htmlData {
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
    }

    .voiture-infos {
        display: block;
    }
}