<article id="htmlData">
    <div *ngIf="facture$ | async as facture;" style="width:100%">
        <div class="banderole">
            <hgroup>
                <h1>Mikara-Car</h1>
                <h2>Adresse Lot XYZ Andoharanofotsy, Antananarivo.MG</h2>
            </hgroup>
            <hgroup style="text-align: end;">
                <h1>FACTURE</h1>
                <h2>Téléphone: (+261) 33 44 555 66</h2>
            </hgroup>
        </div>
        <div class="sub-banderole">
            <p>
                FACTURE # {{facture._id}}
            </p>
            <p>
                Date {{facture.dateFacture | date:'shortDate'}}
            </p>
        </div>
        <div class="infos-grid">
            <article class="user-infos">
                <h4>Informations Client</h4>
                <p>{{facture.resumeUser}}</p>
            </article>
            <article class="voiture-infos">
                <h4>Informations Voiture</h4>
                <p>{{facture.resumeVoiture}}</p>
            </article>
        </div>
        <article class="services">
            <h4>SERVICES</h4>
            <table>
                <thead>
                    <tr>
                        <th>Designation</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of facture.details.prestation">
                        <td>{{service.description}}</td>
                        <td style="text-align: end;">{{service.montant | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="text-align: end;"><b>Sous-total</b></th>
                        <td style="text-align: end;">{{facture.totalHT.prestation | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                    </tr>
                </tfoot>
            </table>
        </article>
        <article class="Achats">
            <h4>ACHATS</h4>
            <table>
                <thead>
                    <tr>
                        <th>Designation</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of facture.details.prestation">
                        <td>{{service.description}}</td>
                        <td style="text-align: end;">{{service.montant | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="text-align: end;"><b>Sous-total</b></th>
                        <td style="text-align: end;">{{facture.totalHT.prestation | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                    </tr>
                </tfoot>
            </table>
        </article>
        <div class="invoice-footer grid">
            <div class="comments">
                <h5>Autres commentaires</h5>
                <ol>
                    <li>Paiement total dû à <b>30 jours</b></li>
                    <li>Veuillez indiquer le numéro de la facture sur votre chèque</li>
                    <li>Veuillez envoyer votre chèque à l'adresse indiquée ci-dessus</li>
                </ol>
            </div>
            <article class="total">
                <table>
                    <tr>
                        <th>TOTAL SERVICES</th>
                        <td>{{facture.totalHT.prestation  | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>TOTAL ACHATS</th>
                        <td>{{facture.totalHT.achat  | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>TOTAL HORS TAXE</th>
                        <td>{{facture.totalHT.achat  | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                    </tr>
                    <tr>
                        <th>MONTANT TAXE({{(facture.totalTTC.taux)*100}}%)</th>
                        <td><b>{{facture.totalTTC.montantTaxe  | currency:'MGA':'symbol-narrow':'1.1-1'}}</b></td>
                    </tr>
                    <tr>
                        <th>TOTAL TTC</th>
                        <td><b>{{facture.totalTTC.montant  | currency:'MGA':'symbol-narrow':'1.1-1'}}</b></td>
                    </tr>
                </table>
            </article>
        </div>
        <div class="banderole-footer">
            <div>
                <p></p>
                <p style="color:rgba(24,33,209,1)">Merci de votre confiance!</p>
            </div>
            <div>
                <p>Faites tous les chèques à l'ordre de</p>
                <p style="color:rgba(24,33,209,1)">Mikara-Car</p>
            </div>
        </div>
    </div>
</article>