<nav class="navigation" style="margin-bottom: 1rem;">
  <ul>
    <li><strong>Mikara-Car</strong></li>
  </ul>
  <ul>
    <li class=""><a *ngIf="this.authService.isLoggedIn" class="p-2 profil">Profil</a></li>
    <li><a *ngIf="!this.authService.isLoggedIn" class="p-2 text-white" routerLinkActive="active" routerLink="/login">Identification</a></li>
    <li><a *ngIf="!this.authService.isLoggedIn" class="btn btn-outline-primary" routerLinkActive="active"
      routerLinkActive="active" routerLink="/inscription">Inscription</a></li>
    <li><button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn deconnexion">Deconnexion</button></li>
  </ul>
</nav>
<nav *ngIf="isClient()" class="sub-nav">
  <ul>
    <li>
        Espace Client
    </li>
  </ul>
  <ul>
    <li><a routerLinkActive="active" routerLink="/voitures">Voitures</a></li>
    <li><a routerLinkActive="active" [routerLink]="['/voitures','factures']">Factures</a></li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="container-fluid footer_equipe" *ngIf="this.authService.isLoggedIn">
  <nav>
    <ul></ul>
    <ul>
      <li>Créer par </li>
      <li>Ranjelison vonjitahina charles &nbsp;&nbsp;|</li>
      <li>Ramilison Abraham</li>
      <li>©Janvier 2023</li>
    </ul>
    <ul></ul>
  </nav>
</footer>

