.navigation{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(11,25,121,1) 0%, rgba(24,208,206,1) 30%, rgba(24,33,209,1) 100%);
    box-shadow: 10px;
    /* border-radius: 5px; */
    padding-left: 20px;
    padding-right: 20px;
}

strong{
    color: white;
}

.profil{
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.profil:hover{
    /* background-color: aliceblue; */
    /* border: 1px solid white; */
    color: rgb(0, 255, 0);
}

.deconnexion{
    background-color: #1821d1;
    border: 2px solid white;
    color: rgb(255, 255, 255);
}

.deconnexion:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 0, 0);
    color: rgb(251, 5, 5);
}

.footer_equipe{
    background: rgb(39,199,225);
    background: linear-gradient(90deg, rgba(39,199,225,1) 0%, rgba(24,62,208,1) 30%, rgba(35,32,217,1) 63%, rgba(11,25,121,1) 85%);
    /* border-radius: 5px; */
}

.footer_equipe li{
    color: white;
    font-size: 13px;
}

ul a{
    color: white;
}

*{
    font-size: 14px;
}

strong{
    font-size: 18px;
}