<nav class="navigation" style="margin-bottom: 1rem;">
  <ul>
    <li><strong>Mikara-Car</strong></li>
  </ul>
  <ul>
    <li class=""><strong *ngIf="this.authService.isLoggedIn()" class="p-2 profil">{{role}}</strong></li>
    
    <li><button (click)="logout()" *ngIf="this.authService.isLoggedIn()" type="button" class="btn deconnexion">Deconnexion</button></li>
  </ul>
</nav>
<nav *ngIf="isClient()" class="sub-nav">  
  <ul>
    <li><button class="outline" routerLinkActive="active" routerLink="/voitures">Voitures</button></li>
    <li><button class="outline" routerLinkActive="active" [routerLink]="['/voitures','factures']">Factures</button></li>
  </ul>
</nav>

<nav *ngIf="isAtelier()" class="sub-nav">
  <ul>
    <li><button class="outline" routerLinkActive="active" routerLink="/entrees">Liste des entrées</button></li>
  </ul>
</nav>

<div class="grid" *ngIf="isFinancier()">
  <div class="nav1"><a  routerLinkActive="active" [routerLink]="['/statistique']">Statistiques</a></div>
  <div class="nav2"><a  routerLinkActive="active" [routerLink]="['/benefice']">Bénéfice</a></div>
  <div class="nav2"><a  routerLinkActive="active" [routerLink]="['/paiements']">Paiements</a></div>
</div>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="container-fluid footer_equipe" *ngIf="this.authService.isLoggedIn">
  <nav>
    <ul></ul>
    <ul>
      <li>Créer par </li>
      <li>Ranjelison vonjitahina charles &nbsp;&nbsp;|</li>
      <li>Ramilison Abraham</li>
      <li>©Janvier 2023</li>
    </ul>
    <ul></ul>
  </nav>
</footer>

