<div style="width:100%; display:inline-flex; justify-content:center; align-content: center; min-height:60vh">
    <article style="width:30rem; height:30rem;">
        <article *ngIf="loading; else show_form" aria-busy="true" style="width:100%;height:100%;"></article>
        <ng-template #show_form>
            <h1>Formulaire Paiement</h1>
            <form [formGroup]="paiementForm" (ngSubmit)="savePaiement()">
                <label for="montant">Montant(Ar):</label>
                <input readonly="readonly" type="number" id="montant" formControlName="montant" name="montant"
                    placeholder="Entrer montant..." aria-label="montant en Ariary" required="">

                <label for="montant">Méthode de paiement:</label>
                <select id="methode" formControlName="methode" name="methode" aria-label="méthode de paiement"
                    required="">
                    <option value="espece" selected="selected">Espèce</option>
                    <option value="cheque">Chèque</option>
                    <option value="mvola">MVola</option>
                </select>

                <button type="submit" class="contrast ajouter">Confirmer</button>
            </form>
        </ng-template>
    </article>
</div>