.badge{
    width: 100%;
}

.repaired{
    background-color: rgb(73, 164, 73);
}

.repairing{
    background-color: rgb(181, 89, 56);
}

.with-client{
    background-color: rgb(50, 50, 242) ;
}

.detail:hover{
    background-color: rgb(5, 93, 176);
    color: white;
}

.historique:hover{
    background-color: rgb(122, 122, 122);
    color: white;
}