<article [ngStyle]="{'max-width': '700px','margin':'2.5rem auto'}">
  <div>
    <hgroup>
      <h1>Identification</h1>
      <h2>Veuillez-vous identifier. Pas encore de compte Client? <a routerLink="/inscription">Inscrivez-vous!</a></h2>
    </hgroup>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <label for="email">Adresse mail:</label>
      <input type="email" id="email" formControlName="email" name="email" placeholder="Entrer adresse mail" autocomplete="email" aria-label="Adresse Email" required="">
      <label for="password">Mot de passe</label>
      <input type="password" formControlName="password" name="password" placeholder="******" aria-label="Mot de passe"
        autocomplete="current-password" required="">
      
      <button type="submit" class="contrast ajouter" >S'identifier</button>
    </form>
  </div>
</article>