<article *ngIf="voiture$ | async as voiture; else loading">
    <div class="article-head">
        <hgroup>
            <h1>
                {{voiture.numImmatricul}}
            </h1>
            <h2>{{voiture.marque}} {{voiture.modele}}</h2>
        </hgroup>
        <a role="button" class="outline" style="width:auto; display: inline-block;" [routerLink]="['historique']">Historique de réparation de la voiture</a>
    </div>
    <hr>
    <div *ngIf="voiture.entree as entree; else no_repair">
        <h3>Réparation</h3>
        <app-reparation-table [entree]="entree"></app-reparation-table>

    </div>
    <ng-template #no_repair>
        <p>Pas de réparations en ce moment</p>
    </ng-template>
</article>
<ng-template #loading>
    <article aria-busy="true"></article>
</ng-template>