
<div class="grid">
  <div>
    <article>
      <header><strong> Bénéfice par mois : {{benefice}} Ar</strong></header>
      <h2>Chiffre d'affaires : {{chiffreAffaire}} Ar</h2>
      <h2>Achat des pieces : {{achatPieces}} Ar</h2>
      <h2>Salaire : {{salaire}} Ar</h2>
      <h2>Loyer : {{loyer}} Ar</h2>
      <h2>Autres : {{autres}} Ar</h2>
    </article>
  </div>
  <div>
    <article>
      <header><strong>Les dépenses</strong></header>
      <form [formGroup]="beneficeForm" (ngSubmit)="calculBenefice()">
        <label for="mois">Choisissez le mois</label>
        <select id="mois" class="choixMois" formControlName="mois">
          <option value="" selected>Choisissez le mois</option>
          <option value="1">Janvier {{ annee }}</option>
          <option value="2">Fevrier {{ annee }}</option>
          <option value="3">Mars {{ annee }}</option>
          <option value="4">Avril {{ annee }}</option>
          <option value="5">Mai {{ annee }}</option>
          <option value="6">Juin {{ annee }}</option>
          <option value="7">Juillet {{ annee }}</option>
          <option value="8">Aout {{ annee }}</option>
          <option value="9">Septembre {{ annee }}</option>
          <option value="10">Octobre {{ annee }}</option>
          <option value="11">Novembre {{ annee }}</option>
          <option value="12">Decembre {{ annee }}</option>
        </select>
        <div class="grid">
          <label for="DesignationSalaire">
            Designation salaire
            <input
              type="text"
              id="DesignationSalaire"
              formControlName="DesignationSalaire"
              placeholder="Designation salaire"
              required
            />
          </label>

          <label for="salaire">
            Montant salaire
            <input
              type="number"
              min="0"
              id="salaire"
              formControlName="salaire"
              placeholder="salaire du mois"
              required
            />
          </label>
        </div>
        <div class="grid">
          <label for="loyer">
            Designation loyer
            <input
              type="text"
              id="loyer"
              formControlName="designationLoyer"
              placeholder="Description pour le loyer"
              required
            />
          </label>

          <label for="montantLoyer">
            Montant loyer
            <input
              type="number"
              min="0"
              id="montantLoyer"
              formControlName="loyer"
              placeholder="Montant loyer"
              required
            />
          </label>
        </div>
        <div class="grid">
          <label for="autres">
            Designation autres depenses
            <input
              type="text"
              id="autres"
              formControlName="designationAutres"
              placeholder="Description pour les autres depenses"
              required
            />
          </label>

          <label for="montantAutres">
            Montant autres depenses
            <input
              type="number"
              min="0"
              id="montantAutres"
              formControlName="autres"
              placeholder="Montant autres depenses"
              required
            />
          </label>
        </div>
        <button type="submit" class="ajouter">Valider</button>
      </form>
    </article>
  </div>
</div>
