<div [ngStyle]="{'display':'inline-flex','justify-content':'space-around', 'width':'100vw'}">
    <div class="liste-container">
        <div class="search-bar">
            <input type="search" placeholder="Recherche..." [(ngModel)]="searchText" (keyup)="applyFilter($event)">
            <button (click)="fetchVoitures()" class="refresh-button">Actualiser</button>
        </div>
        <table role="grid" class="Liste" *ngIf="voituresObs | async as voitures; else loading">
            <thead>
                <tr>
                    <th scope="col">Immatriculation</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                </tr>
            </thead>
            <tbody *ngIf="voitures.length > 0; else empty">
                <tr app-voitures-liste-item *ngFor="let voiture of voitures" [voiture]="voiture"></tr>
            </tbody>
            <ng-template #empty>
                <p>
                    Pas de voitures enregistrées.
                </p>
            </ng-template>
        </table>
        <ng-template #loading>
            <article aria-busy="true"></article>
        </ng-template>

    </div>
    <div class="formulaire">
        <app-formulaire-voiture-page (emitter)="send($event)"></app-formulaire-voiture-page>
    </div>
</div>