<article *ngIf="isLoading; else loaded" aria-busy="true"></article>
<ng-template #loaded>
    <article>
        <div *ngIf="factures; else no_factures">
            <div class="article-head">
                <hgroup>
                    <h1>Liste des factures</h1>
                </hgroup>
                <div style="display: inline-flex; align-items: center;gap:0.5rem">
                    <button (click)="fetchFactures()" class="refresh-button">Actualiser</button> 
                    <label for="showPaid"><input type="checkbox" id="showPaid" name="showPaid" [(ngModel)]="showPaid"
                            role="switch" (change)="fetchFactures()"> Montrer les factures payées</label>
                </div>
            </div>
            <hr>
            <div *ngIf="factures.length>0; else no_factures">
                <table>
                    <thead>
                        <tr>
                            <th>Voiture</th>
                            <th>Date Facture</th>
                            <th>Total HT</th>
                            <th>Total TTC</th>
                            <th>Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let facture of factures">
                            <td>{{facture.resumeVoiture}}</td>
                            <td>{{facture.dateFacture | date:'shortDate'}}</td>
                            <td>{{facture.totalHT.total | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                            <td>{{facture.totalTTC.montant | currency:'MGA':'symbol-narrow':'1.1-1'}}</td>
                            <td *ngIf="facture.paid; else not_paid">
                                <span class="badge"
                                    [ngClass]="(facture.valid)?'paid':'not-valid'">{{(facture.valid)?"Payée et
                                    validée":"En attente de validation"}}</span>
                            </td>
                            <ng-template #not_paid>
                                <td>
                                    <span class="badge not-paid">Non payée</span>
                                </td>
                            </ng-template>
                            <td><a [routerLink]="[facture._id]">Détails</a></td>
                            <td><button *ngIf="!facture.paid" [routerLink]="[facture._id,'paiement']">Payer la
                                    facture</button></td>
                        </tr>
                    </tbody>
                </table>
                <div style="width:100%;display: inline-flex; justify-content: center;">
                    <mat-paginator [length]="total" [pageSize]="itemCount" [pageSizeOptions]="[5, 10, 25, 100]"
                        [pageIndex]="page" (page)="changePage($event)" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
        <ng-template #no_factures>
            <p>Pas encore de factures</p>
        </ng-template>
    </article>
</ng-template>