<article *ngIf="isLoading; else loaded" aria-busy="true"></article>
<ng-template #loaded>
    <article>
        <div *ngIf="voiture && voiture.entrees; else no_repair">
            <div class="article-head">
                <hgroup>
                    <h1>Historique de réparation</h1>
                    <h2>
                        {{voiture.numImmatricul}}
                    </h2>
                    <h3>{{voiture.marque}} {{voiture.modele}}</h3>
                </hgroup>
                <div style="display: inline-flex; gap: 1rem;">
                    <a role="button" class="outline" style="width:auto; display: inline-block;"
                        [routerLink]="['/voitures',voiture.numImmatricul]">Réparation actuelle</a>
                    <a role="button" class="outline secondary" style="width:auto; display: inline-block;"
                        [routerLink]="['/voitures']">Retour à la liste</a>
                </div>
            </div>
            <hr>
            <div *ngIf="voiture.entrees.length>0; else no_repair">
                <app-liste-entrees-historique [entrees]="voiture.entrees"></app-liste-entrees-historique>
                <div style="width:100%;display: inline-flex; justify-content: center;">
                    <mat-paginator [length]="total" [pageSize]="itemCount" [pageSizeOptions]="[5, 10, 25, 100]"
                        [pageIndex]="page" (page)="changePage($event)" aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
        <ng-template #no_repair>
            <p>Pas encore de réparations</p>
        </ng-template>
    </article>
</ng-template>