<div class="auth-wrapper">
    <h1>Formulaire Voiture</h1>
    <div *ngIf="!loading else showLoader">
        <form
      class="form-signin"
      [formGroup]="voitureForm"
      (ngSubmit)="saveVoiture()"
    >
      <h3 class="h3 mb-3 font-weight-normal text-center">Informations de la voiture</h3>
      <div class="form-group">
        <label>Numéro de plaque d'immatriculation</label>
        <input
          type="text"
          class="form-control"
          formControlName="numImmatricul"
          placeholder="Entrer numéro"
          required
        />
      </div>
      <div class="form-group">
        <label>Marque</label>
        <input
          type="text"
          class="form-control"
          formControlName="marque"
          placeholder="Entrer la marque"
          required
        />
      </div>
      <div class="form-group">
        <label>Modèle</label>
        <input
          type="text"
          class="form-control"
          formControlName="modele"
          placeholder="Entrer le modèle"
          required
        />
      </div>
      <button type="submit" class="btn btn-block btn-primary">Enregistrer</button>
    </form>
    </div>
    <ng-template #showLoader>
      <article aria-busy="true"></article>
    </ng-template>
  </div>