.ajouter {
  border: 1px solid #1821d1;
  color: rgb(24, 33, 209);
  background-color: white;
}

.ajouter:hover {
  background-color: rgb(24, 33, 209);
  border: none;
  color: white;
}

* {
  font-size: 14px;
}
